body{
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    overflow-x: hidden;
    background: linear-gradient(95deg, #094b4b, #13c4c4) ;
}

#stop_music{
    display: none;
}

player-box{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
     height: 80vh;
}

player-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
player-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}
player-info p{
    font-size: 1.2rem;
    color: hsl(0 0% 80%);
}
player-info i{
    color: #47d8d8;
    font-size: 5rem;
}
player-controll i{

    color: #094b4b;
    font-size: 4rem;
}
player-controll i:hover{
    color: #409595;
    font-size: 4.2rem;
}




player-music-picture{
  background-image: url(provosorisch_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 250px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: #094b4b 20px 20px 20px -10px  ;
    
}

player-music-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
        border-radius: 2rem;
        background-color: rgba(0, 0, 0, 0.3)
}
player-music-info p{
    color: hsl(0 0% 80%);
    font-weight: bold;

}




info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
info p{
    color: hsl(0 0% 90%);
}
info a{
    color: hsl(0, 0%, 84%);
    text-decoration: none;
}
info a:hover{
    text-decoration: underline;
}
radio-info-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}

radio-info{
    max-width: 1000px;
    padding: 0.5rem ;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
}

radio-info-box h2{
    color: #49e4e4;
    font-size: 2.8rem;
}
impressum-outer{
    justify-content: center;
    align-items: center;

}
.back-button{
     padding-left: 2rem;
          padding-right: 2rem;
          font-weight: bold;
          color: #60c8c8;
          font-size: 2rem;
}
.back-button:hover{
    color: #38ebeb;

}

.impressum{
        padding-left: 2rem;
                  padding-right: 2rem;
}

.impressum h1{
      color: #329b9b;
    font-size: 2.8rem;
}
.impressum p{
    color: #7aeaea;
    font-size: 1.5rem;
}
radio-info-box p{
    color: #7aeaea;
    font-size: 1.5rem;
}

radio-info-box a{
    color: #a4f6f6;
    font-weight: bold;
    font-size: 1.5rem;
}
info-contrib{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

@media screen and (max-width: 370px) {

        player-box{
            height: 60vh;
        }
        player-info{
            height: 10vh;
        }
}